html {
  box-sizing: border-box;
  background-color:brown;
}

.App {
  margin: 0 auto;
  padding: 25px;
  font-family:'Times New Roman', Times, serif;
}

h1 {
  text-transform: uppercase;
  margin: 15px auto;
  padding: none;
}

#mainTitle {
  color:burlywood;
}

h2 {
  font-style: italic;
  margin: 0 auto 5px auto;
  padding: none;
}

h3 {
  margin: 0 auto 5px auto;
  padding: none;
  font-style: italic;
}

.mainSub{
  color:darkred;
  text-transform: uppercase;
}

.half{
  background-color: rgba(222, 184, 135, 0.7);
  border-radius: 10px;
  margin: 15px auto;
  padding: 15px;
  border: 3px double brown;
}

textarea {
  height: 355px;
  width: 100%;
  padding: 5px;
  background-color: burlywood;
  border: 1px solid darkred;
  border-radius: 5px;
}

code{
  background-color: burlywood;
  font-size: 75%;
}

blockquote{
  border-left: 3px solid brown;
  padding-left: 5px;
  font-style: italic;
  color: darkred;
  font-weight: bolder;
}

table, th, td{
  border-collapse: collapse;
  border: 1px solid darkred;
  padding: 3px;
}

img {
  max-width: 95%;
}


